:root{
    --panel-color: rgb(25, 146, 212);
    --background-color: rgb(226, 232, 240);
    --color-dark: rgb(54, 53, 53);
    --color-light: rgb(255,255,255);
    --color-light2: rgb(122, 121, 121);
    --color-light3: rgb(173, 171, 171);
    --color-bright:rgb(239, 177, 32);
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;

}

body{
    min-width: 800px;
    display: grid;
    /* min-width: 800px; */
    grid-template-areas: 
    "aside nav"
    "aside main";
    grid-template-columns: 15% 85%;
    grid-template-rows: 17dvh 90%;

}

.aside-icon-wrapper{
    width: 100%;
    display: grid;
    place-items: center;
}

aside{
    min-width: 150px;
    box-sizing: border-box;
    grid-area: aside;
    background-color: var(--panel-color);
    color: var(--color-light);
    padding: 1em;
}

aside > ul{
    margin: 1em auto;
}

.side-menu li, .side-menu-heading{
    display: grid;
    place-items: right;
    margin-block: auto;
    grid-template-columns: 10% 1.4em 60%;
    gap: .2em;
    padding: .5em;
}

.side-menu i{
    grid-column: 1/3;
}

.side-menu-heading i{
    grid-column: 1/3;
    font-size: 2em;
    
}

.side-menu li > p, .side-menu-heading h3{
    grid-column: 3 / 4;
    margin: 0;
}



.menu-a{
    grid-row: 2/3;
}

/* .menu-b{
    grid-row: 3/4;
} */


.side-menu{
    padding: 0;
}

/* aside li>*, aside h2>*{
    margin: .6em;
} */

nav{
    /* box-sizing: border-box; */
    grid-area: nav;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 66% 33%;
    padding: 1em;
    height: 100%;
    gap: .5em;
    box-shadow: 0 2px 5px 1px var(--color-light3);
    z-index: 2;
}


nav > div{
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
}

.search-bar{
    content: " ";
    display: block;
    background-color: var(--background-color);
    height: 1.5em;
    width: 100%;
    border-radius: 50px;
}

.nav-button-wrapper{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin-block: auto;
}
.nav-button{
    font-size: .8rem;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color-light);
    background-color: var(--panel-color);
    border-radius: 50lh;
    height: 67%;
    padding: .5em 1.77em;
    margin: 0 .77em;
}

.admin-wrapper{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 4fr;
    place-items: center;
    line-height: 1;
    height: 100%;
    gap: 1em;
}

.profile-container{
    grid-column: 1/3;
    grid-row: 2/3;
}


.profile-container--user{
    width: 100%;
    display: grid;
    grid-template-columns: 5em 1fr;
    place-items: right;
}

main{
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
    background-color: var(--background-color);
    line-height: 1.1;
    padding: 1em;
}

main h4, main p{
    margin: 0;
}

.project-item-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28ch,1fr));
    gap: 2em;
    margin-right: 1em;
}

.project-item{
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 20% 40% 20% 20%;
    grid-template-columns: 70% 15% 15%;
    place-items: left;
    background-color: var(--color-light);
    color: var(--color-dark);
    border-radius: .7em;
    border-left: .4em solid var(--color-bright);
    padding: 2em 1.5em;
    box-shadow:  1px 1px 7px 1px var(--color-light3);
}

.project-item p{
    grid-row: 2/3;
    grid-column: 1/3;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto; 
    color: var(--color-light2)!important;
    font-size: smaller;
}

.project-item-icons{
    grid-row: 4/5;
    grid-column: 2/4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    /* text-align: right; */
}

.project-item-icons>*{
    margin-inline: .2em;
}

main h3,
.project-item h4,
.announcement-item h4{
    text-transform: capitalize;
    color: var(--color-dark)!important;
}

/* .profile-pic-container{
    display: block;
    width: 100px;
    height: 100px;
    background-color: #fff;
} */

.announcement-item-container,
.trending-item-container{
    background-color: var(--color-light);
    padding: 1em;
    border-radius: .7em;
    color: var(--color-light2);

}

.announcement-item{
    margin: 1em;
    line-height: 1.2;
    padding-bottom: 1em;
}
.announcement-item:nth-child(-n+2){
    border-bottom: 1px solid var(--color-light2);
}

.announcement-item p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto; 
}

.user-icon-wrapper{
    width: 2.7em;
    height: 2.7em;
    background-color: var(--background-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.trending-item{
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 1em;
    padding: 1em 0;
    text-transform: capitalize;
}

.trending-user-icon{
    grid-column: 1/2;
}

.trending-heading{
    grid-column: 2/3;
}